# pigeon inference
ultralytics
python-vlc
ncnn
numpy==1.26.4

# notifications
python-telegram-bot

# production hosting
flask
waitress

# authentication
flask_httpauth
flask_limiter
passlib
bcrypt==4.0.1

# authentication/settings
redis

# misc
python-dotenv
requests