<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pigeon Warden</title>
</head>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .temp {
    display: flex;
    flex-direction: column;
  }

  .stream {
    max-width: 100%;
    width: 1200px;
    aspect-ratio: 16/9;
  }
</style>

<h1>Pigeon Warden Control Panel</h1>
<div class="content">
  <div class="temp">
    <label id="cpuTempLabel" for="cpuTempButton">Temp: NaN</label>
    <button id="cpuTempButton">Get CPU Temp</button>
  </div>
  <button id="wardenTogglerButton"></button>

  <img class="stream" src="/api/stream" />
</div>

<script>
  const wardenTogglerButton = document.getElementById("wardenTogglerButton");
  wardenTogglerButton.onclick = async () => {
    const text = await fetch("/api/toggle-inference").then(res => res.text());
    wardenTogglerButton.innerText = `Warden ${text === "1" ? "ON" : "OFF"}`;
  };

  const cpuTempButton = document.getElementById("cpuTempButton");
  const cpuTempLabel = document.getElementById("cpuTempLabel");
  cpuTempButton.onclick = async () => {
    const data = await fetch("/api/temp").then(res => res.json());
    cpuTempLabel.innerText = `Temp: ${data.temp}'${data.unit}`;
  };

  const getStatus = async () => {
    const text = fetch("/api/status").then(res => res.text());
    return Boolean(Number(text));
  };

  (async () => {
    const status = await getStatus();
    wardenTogglerButton.innerText = `Warden ${status ? "ON" : "OFF"}`;
  })();
</script>
