<!DOCTYPE html>
<html>
  <head>
    <title>Log in to pigeonwarden</title>
  </head>
  <body>
    <form method="POST">
      {{ form.hidden_tag() }} {{ form.username.label }} {{
      form.username(size=32) }}<br />
      {{ form.password.label }} {{ form.password(size=32) }}<br />
      <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for msg in messages %}
      <li>{{ msg }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
